// Contact button style

.contact-button {
    background-color: $carmine;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    color: $white;
    font-size: 1rem;
    font-family: $work-sans;
    font-weight: 500;
    transition: 0.3s;
    cursor: pointer;

    &:hover {
        background-color: $cedar-chest;
        color: $black;
    }

    @media screen and (min-width: $computer-sm-breakpoint) {
        padding: 1.25rem 1rem;
        font-size: 1rem;
    }
}

#desktop-contact-button {
    display: none;
    position: absolute;
    left: 425px;
    top: 50px;

    @media screen and (min-width: $computer-sm-breakpoint) {
        display: block;
    }
}

#mobile-contact-button {
    position: fixed;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);

    @media screen and (min-width: $computer-sm-breakpoint) {
        display: none;
    }
}