// Contact form

#form-background {
    background-color: rgba($black, 0.4);
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    overflow: auto;

    #form-header {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        flex-flow: row wrap;
    
        h1 {
            font-weight: 400;
            width: 100%;
        }
    }
}

#close-form {
    background-color: transparent;
    padding: 0;
    color: $white;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    position: absolute;
    top: 22px;
    right: 22px;

    @media screen and (min-width: $computer-sm-breakpoint) {
        &:hover {
            color: $carmine;
        }
    }

    i {
        font-size: 2rem;
    }
}

form {
    background-color: $cedar-chest;
    padding: 20px;
    height: 100vh;
    font-family: $work-sans;
    color: $black;
    display: flex;
    flex-flow: column nowrap;
    overflow: auto;

    @media screen and (min-width: $tablet-breakpoint) {
        border-radius: 5px;
        position: relative;
        width: 500px;
        height: 790px;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
    }

    @media screen and (min-width: $computer-sm-breakpoint) {
        width: 550px;
    }

    label {
        margin: 20px 0 10px;
    }

    input {
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 0.3s;
        font-size: 0.95rem;

        &:focus {
            border: 1px solid $cedar-chest;
        }
    }

    textarea {
        width: 100%;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid transparent;
        transition: 0.3s;
        font-size: 0.95rem;

        &:focus {
            border: 1px solid $cedar-chest;
        }
    }

    .btn-submit {
        background-color: $carmine;
        border: none;
        border-radius: 0.25rem;
        padding: 0.8rem 1rem;
        color: $white;
        font-size: 0.9rem;
        font-family: $work-sans;
        font-weight: 700;
        transition: 0.3s;
        cursor: pointer;
        margin: 20px auto 0;
        width: 100px;

        &:hover {
            background-color: rgba($carmine, 0.6);
            color: $black;
        }

        @media screen and (min-width: $computer-breakpoint) {
            padding: 1.25rem 3rem;
            width: 155px;
        }
    }

    span {
        color: $carmine;
        font-size: 0.75rem;
        margin-top: 3px;
        display: none;
    }
}