// Like button

.like-button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100px;

    p {
        color: $carmine;
        font-size: 1rem;
        font-family: $work-sans;
        margin-right: 5px;
    }

    button {
        background: transparent;
        border: none;
        cursor: pointer;

        &:focus {
            outline: 1px dotted $black;
        }

        span {
            color: $carmine;
            font-size: 0.9rem;
        }
    }
}