// Logo style

.logo {
    color: $carmine;
    font-family: $noto-sans-jp;
    font-size: 2.5rem;
    font-weight: 500;

    i {
        font-size: 2.2rem;
        margin: 0 0.25rem 0.5rem 0.25rem;
    }
}