// Logo style
header a {
    width: 170px;

    @media screen and (min-width: $tablet-breakpoint) {
        width: 190px;
    }
}

.logo {
    color: $carmine;
    font-family: $work-sans;
    font-size: 2.5rem;
    font-weight: 600;

    @media screen and (min-width: $tablet-breakpoint) {
        font-size: 2.8rem;
    }

    i {
        font-size: 2.2rem;
        margin: 0 0.25rem 0.5rem 0.25rem;

        @media screen and (min-width: $tablet-breakpoint) {
            font-size: 2.4rem;
        }
    }
}