// Variables

// Font import
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

// Font
$lato: 'Lato', sans-serif;

// Colors
$carmine: #901C1C;
$cedar-chest: #D3573C;
$davys-grey: #525252;
$cultured: #FAFAFA;
$white: #FFFFFF;
$black: #000000;

// Breakpoint
$tablet-breakpoint: 768px;
$computer-sm-breakpoint: 992px;
$computer-breakpoint: 1200px;