// Variables

// Font import
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

// Font
$work-sans: 'Work Sans', sans-serif;

// Colors
$carmine: #901C1C;
$cedar-chest: #D3573C;
$davys-grey: #525252;
$cultured: #F5F5F5;
$white: #FFFFFF;
$black: #000000;

// Breakpoint
$tablet-breakpoint: 768px;
$computer-sm-breakpoint: 992px;
$computer-breakpoint: 1200px;

// Box shadow
$box-shadow: 0px 5px 10px -2px rgba(0,0,0,0.2);