// Home style

// Header
header {
    padding: 2rem 1.5rem;

    h1 {
        margin-bottom: 20px;
    }
}

nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

// Main
#page-title {
    font-family: $work-sans;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    color: $carmine;
    position: absolute;
    top: 3.25rem;
    right: 1.5rem;
}

#photographers {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: $work-sans;
    margin-top: 15px;

    > div {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        margin-bottom: 50px;
    }
}

.photographer-link {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.photographer-portrait {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.photographer-name {
    color: $cedar-chest;
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 5px;
}

.photographer-city-country {
    color: $carmine;
    font-size: 0.85rem;
    margin-bottom: 5px;
}

.photographer-tagline {
    font-size: 0.7rem;
    margin-bottom: 3px;
}

.photographer-price {
    color: $davys-grey;
    font-size: 0.7rem;
    margin-bottom: 2.5px;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}