// Photographer page style

// Header
header {
    padding: 2rem 1.5rem;

    @media screen and (min-width: $tablet-breakpoint) {
        padding: 3rem 2.5rem;
    }

    @media screen and (min-width: $computer-sm-breakpoint) {
        padding: 3rem 4.5rem 5.5rem 4.5rem;
    }
}

// Main

#photographer-section {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    font-family: $work-sans;
    margin: 1.5rem;
    padding: 25px 0;
    background-color: $cultured;
    border-radius: 5px;
    position: relative;

    @media screen and (min-width: $tablet-breakpoint) {
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 0 2.5rem;
        padding: 25px;
    }
}

.photographer-portrait {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
    box-shadow: $box-shadow;

    @media screen and (min-width: $tablet-breakpoint) {
        width: 175px;
        height: 175px;
        margin-top: 0;
    }
}

.photographer-info {
    text-align: center;

    @media screen and (min-width: $tablet-breakpoint) {
        text-align: left;
    }
}

.photographer-name {
    color: $cedar-chest;
    font-weight: 500;
    font-size: 2.5rem;
    margin-bottom: 5px;
}

.photographer-city-country {
    color: $carmine;
    font-size: 0.85rem;
    margin-bottom: 10px;
}

.photographer-tagline {
    font-size: 0.7rem;
    color: $davys-grey;
    margin-bottom: 3px;
}

.tag-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    @media screen and (min-width: $tablet-breakpoint) {
        justify-content: flex-start;
    }
}