@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  outline: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

::selection {
  background-color: #901C1C;
  color: #FFFFFF;
  text-shadow: none; }

a {
  text-decoration: none; }
  a:visited {
    color: inherit; }

.overflow {
  overflow: hidden; }

.d-none {
  display: none !important; }

.d-block {
  display: block !important;
  animation: fadeIn 0.3s ease-in; }

.d-inline-block {
  display: inline-block !important; }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

header a {
  display: inline-block;
  width: 170px; }
  header a:focus {
    outline: 1px dotted #000000; }
  @media screen and (min-width: 768px) {
    header a {
      width: 190px; } }

.logo {
  color: #901C1C;
  font-family: "Work Sans", sans-serif;
  font-size: 2.5rem;
  font-weight: 600; }
  @media screen and (min-width: 768px) {
    .logo {
      font-size: 2.8rem; } }
  .logo span {
    font-size: 2.2rem;
    margin: 0 0.25rem 0.5rem 0.25rem; }
    @media screen and (min-width: 768px) {
      .logo span {
        font-size: 2.4rem; } }

.tag {
  background-color: transparent;
  color: #901C1C;
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 500;
  border-radius: 15px;
  border: 0.5px solid rgba(82, 82, 82, 0.3);
  padding: 2px 8px;
  margin: 6px 3px 0;
  cursor: pointer;
  transition: 0.3s; }
  .tag:hover {
    border: 0.5px solid #901C1C; }
  .tag:focus {
    border: 0.5px solid #CC583E;
    background-color: #CC583E;
    color: #FFFFFF; }

.tag-selected {
  background-color: #901C1C;
  color: #FFFFFF;
  border: 0.5px solid #901C1C; }

#toTopButton {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 98;
  border: none;
  outline: none;
  background-color: #CC583E;
  color: #FFFFFF;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  text-align: center;
  cursor: pointer; }
  #toTopButton:focus {
    background-color: #901C1C; }
  @media screen and (min-width: 768px) {
    #toTopButton {
      bottom: 30px;
      right: 30px;
      border-radius: 25px;
      width: 45px;
      height: 45px; } }
  #toTopButton i {
    font-size: 1.2rem; }
    @media screen and (min-width: 768px) {
      #toTopButton i {
        font-size: 1.4rem; } }
  @media screen and (min-width: 992px) {
    #toTopButton {
      transition: .3s; }
      #toTopButton:hover {
        background-color: #901C1C; } }

header {
  padding: 2rem 1.5rem; }
  @media screen and (min-width: 768px) {
    header {
      padding: 3rem 2.5rem; } }
  @media screen and (min-width: 992px) {
    header {
      padding: 3rem 4.5rem 5.5rem 4.5rem; } }
  header h1 {
    margin-bottom: 20px; }
    @media screen and (min-width: 768px) {
      header h1 {
        margin-bottom: 30px; } }

nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
  @media screen and (min-width: 1200px) {
    nav {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 4rem; } }

#page-title {
  font-family: "Work Sans", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  color: #901C1C;
  position: absolute;
  top: 3.25rem;
  right: 1.5rem; }
  @media screen and (min-width: 768px) {
    #page-title {
      font-size: 1.5rem;
      top: 4rem;
      right: 2.5rem; } }
  @media screen and (min-width: 992px) {
    #page-title {
      font-size: 1.8rem;
      right: 4.5rem; } }

#photographers {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  margin-top: 15px; }
  @media screen and (min-width: 768px) {
    #photographers {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr)); } }
  @media screen and (min-width: 992px) {
    #photographers {
      grid-template-columns: repeat(3, minmax(0, 1fr)); } }
  #photographers > div {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 50px; }
    @media screen and (min-width: 768px) {
      #photographers > div {
        margin-bottom: 75px; } }

.photographer-link {
  display: flex;
  flex-flow: column wrap;
  align-items: center; }
  .photographer-link:focus {
    outline: 1px dotted #000000; }

.photographer-portrait {
  width: 225px;
  height: 225px;
  border-radius: 50%;
  margin-bottom: 15px;
  box-shadow: 0px 5px 10px -2px rgba(0, 0, 0, 0.2); }

.photographer-name {
  color: #CC583E;
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 5px; }

.photographer-city-country {
  color: #901C1C;
  font-size: 0.85rem;
  margin-bottom: 5px; }

.photographer-tagline {
  font-size: 0.7rem;
  margin-bottom: 3px; }

.photographer-price {
  color: #525252;
  font-size: 0.7rem;
  margin-bottom: 2.5px; }

.tag-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; }
